/* :root {
  --gray: #4b5563;
}
body {
  box-sizing: border-box;
  color: var(--bs-gray-700);
  color: var(--gray);
  background-color: #f3f4f6;
} */
.suggestions {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  right: 50px;
}
.suggestions_title {
  font-size: 20px;
  padding: 20px 0px 5px;
}
.suggestions_profile {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid var(--bs-gray-300);
  padding: 20px 10px;
}
.suggestions_profile-pfp {
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  align-items: center;
}
.suggestions_profile-pfp img {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.suggestions_profile-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 0;
}
.suggestions_profile-title {
  font-size: 13px;
  color: var(--bs-gray-500);
  margin: 0;
}
.btn-add {
  color: dodgerblue;
  font-size: 24px;
  font-weight: 600;
}
